---
number: {{PROJECT_CODE}}
lang: th
permalink: /th/:collection/{{PROJECT_CODE}}
slug: /portfolio/{{PROJECT_CODE}}
title: {{PROJECT_TITLE}}
description: ออกแบบตกแต่งภายใน, เฟอร์นิเจอร์ภายในและภายนอกตามแบบ ในโครงการ {{PROJECT_TITLE}}
image: /assets/images/projects/{{PROJECT_CODE}}/00.jpg
date: {{PUBLICATION_DATE}}
category: th
loc: {{LOCATION_TH}}
map: {{GOOGLE_MAP_LINK}}
---
ออกแบบตกแต่งภายใน, เฟอร์นิเจอร์ภายในและภายนอกตามแบบ
