---
number: {{PROJECT_CODE}}
lang: en
permalink: /:collection/{{PROJECT_CODE}}
slug: /portfolio/{{PROJECT_CODE}}
title: {{PROJECT_TITLE}}
description: Interior design, indoor and outdoor custom furniture in {{PROJECT_TITLE}}
image: /assets/images/projects/{{PROJECT_CODE}}/00.jpg
date: {{PUBLICATION_DATE}}
category: en
loc: {{LOCATION_EN}}
map: {{GOOGLE_MAP_LINK}}
---
Interior design, indoor and outdoor custom furniture
