---
number: {{PROJECT_CODE}}
lang: ru
permalink: /ru/:collection/{{PROJECT_CODE}}
slug: /portfolio/{{PROJECT_CODE}}
title: {{PROJECT_TITLE}}
description: Дизайн интерьера и мебель на заказ в проекте {{PROJECT_TITLE}}
image: /assets/images/projects/{{PROJECT_CODE}}/00.jpg
date: {{PUBLICATION_DATE}}
category: ru
loc: {{LOCATION_RU}}
map: {{GOOGLE_MAP_LINK}}
---
Дизайн интерьера и мебель на заказ
