{% assign t = site.data.I18n[page.lang] -%}
<div id="about">
  <h1 id="about-me">{{ t.about_me }}</h1>
  <div class="p-2 text-center">
    <img src="/assets/images/about_me.jpg" alt="{{ page.name }}" class="img-fluid rounded shadow-sm">
  </div>
  <div class="row">
    <div class="col">
      <h2 id="description">{{ page.name }}</h2>
    </div>
    <div class="col text-end">
      <span class="text-black fw-lighter fs-5">{{ page.position }}</span>
    </div>
  </div>
  <p>{{page.description}}</p>
  <h2>Achievements</h2>
  <ul id="achievements">
    <li>Your Achievement 1</li>
    <li>Your Achievement 2</li>
  </ul>
  <a href="https://wa.me/{{page.wa_number}}" class="text-white btn btn-lg d-block w-100"
    style="background-color: #9f8555; color: white;" target="_blank">Chat on WhatsApp</a>
  <h2>Benefits</h2>
  <ul id="benefits">
    <li>Your Benefit 1</li>
    <li>Your Benefit 2</li>
  </ul>
  <a href="https://wa.me/your-number" class="btn" target="_blank">Chat on WhatsApp</a>
  <a href="/">Back to Portfolio</a>
</div>