{% assign t = site.data.I18n[page.lang] -%}
{% assign lang_data = site.languages | find: "code", page.lang -%}
{% assign a = t.about_page -%}
<div class="page-head">
  <h1>{{ a.about_me }}</h1>
  <p class="lead">{{ a.header }}</p>
</div>
<div class="row gx-md-5 about-intro">
  <div class="col-md-5 col-lg-4">
    <figure class="about-photo">
      <img src="/assets/images/about_me.jpg" alt="{{ a.name }}" class="img-fluid">
      <figcaption>
        <span class="about-name">{{ a.name }}</span>
        <span class="about-role">{{ a.position }}</span>
      </figcaption>
    </figure>
    <div class="about-stats">
      <div><b>{{ a.years }}</b><span>{{ a.company_on_market }}</span></div>
      <div><b>{{ a.projects }}</b><span>{{ a.projects_in_portfolio }}</span></div>
    </div>
  </div>
  <div class="col-md-7 col-lg-8 about-text">
    {{ a.description }}
    <h2 class="h4">{{ a.services_title }}</h2>
    <ul class="about-list">
      {% for s in a.services %}<li>{{ s }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
<h2 class="section-title">{{ a.benefits_title }}</h2>
<div class="services row row-cols-1 row-cols-md-3 gx-md-5">
  {% for b in a.benefits %}
  <section class="col service">
    <span class="service-n" aria-hidden="true">{{ forloop.index | prepend: '0' | slice: -2, 2 }}</span>
    <h3>{{ b.title }}</h3>
    <p>{{ b.description }}</p>
  </section>
  {% endfor %}
</div>
<div class="text-center mt-5">
  <a href="{{ lang_data.slug | append: '/' | relative_url }}" class="btn btn-gold hero-cta-link">{{ a.visit_portfolio }} <span aria-hidden="true">&rarr;</span></a>
</div>
