{% assign t = site.data.I18n[page.lang] %}
<div class="row row-cols-1 row-cols-md-3 gy-5 pt-3">
  {% assign ps = site.portfolio | where: "lang", page.lang | reverse %}
  {% for p in ps %}
    <div class="col">
      <div class="githumb">
        <a href="{{ p.url }}"><img src="/assets/images/projects/{{p.number}}/00.jpg" class="img-thumbnail img-fluid" width="416" height="864" alt="{{ t.photo_alt }} {{ p.description }}"></a>
        <div class="info">
          <div class="text shadow-sm">
            <a href="{{ p.url }}"><h4>{{ p.title }}</h4></a>
            <a href="{{ p.url }}" class="btn btn-outline-info">{{ t['more'] }}</a></div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
