{% assign t = site.data.I18n[page.lang] -%}
{% assign projects = site.portfolio | where: "lang", page.lang | sort: "number" | reverse -%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<div class="py-4">
  <h1>{{ t.map_page.h1 }}</h1>
  <p class="lead">{{ t.map_page.intro }}</p>
  <div id="projects-map" style="height: 600px"></div>
  <noscript>
    <ul>{% for p in projects %}<li><a href="{{ p.url }}">{{ p.title }}</a>, {{ p.loc }}</li>{% endfor %}</ul>
  </noscript>
</div>
<script>
  const projects = [{% for p in projects %}{% if p.lat %}
    { title: {{ p.title | jsonify }}, n: {{ p.number | jsonify }}, url: {{ p.url | jsonify }}, loc: {{ p.loc | jsonify }}, lat: {{ p.lat }}, lng: {{ p.lng }}, img: "/assets/images/projects/{{ p.number }}/00.jpg" },{% endif %}{% endfor %}
  ];
  const map = L.map('projects-map', { scrollWheelZoom: false });
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  const groups = {};
  projects.forEach(p => (groups[p.lat + ',' + p.lng] ||= []).push(p));
  const esc = s => s.replace(/[&<>"]/g, c => ({ '&': '&amp;', '<': '&lt;', '>': '&gt;', '"': '&quot;' }[c]));
  const markers = Object.values(groups).map(g => {
    const html = '<img src="' + g[0].img + '" alt="" class="map-thumb"><div class="map-loc">' + esc(g[0].loc) + '</div>' +
      g.map(p => '<a href="' + p.url + '">' + esc(p.title) + ' ' + p.n + '</a>').join('<br>');
    return L.circleMarker([g[0].lat, g[0].lng], {
      radius: 7 + Math.min(g.length, 8), color: '#fff', weight: 2, fillColor: '#9f8555', fillOpacity: .9
    }).bindPopup(html).addTo(map);
  });
  map.fitBounds(L.featureGroup(markers).getBounds().pad(0.15));
</script>
