{% assign t = site.data.I18n[page.lang] -%}
{% assign lang_data = site.languages | find: "code", page.lang -%}
{% assign home_path = lang_data.slug -%}
{% if home_path == "" -%}
  {% assign home_path = "/" -%}
{% endif -%}
{% capture generated_title -%}
  {% if page.title != "Home" -%}
    {{ page.description }}, {{ page.loc }} | {{ site.title }}
  {% else -%}
    {{ site.title }} | {{ page.tagline }}
  {% endif -%}
{% endcapture -%}
{% assign generated_title = generated_title | strip -%}
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ generated_title }}</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/6764665e41.js"></script>
  <script src="/assets/js/bootstrap.bundle.js"></script>
  <script
    id="mcjs">!function (c, h, i, m, p) { m = c.createElement(h), p = c.getElementsByTagName(h)[0], m.async = 1, m.src = i, p.parentNode.insertBefore(m, p) }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/d22f762034ad5e8e3d255689c/64d8ce42d294d0ba8d84460af.js");</script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8YN2HJ960N"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-8YN2HJ960N');
  </script>
  <meta name="yandex-verification" content="1f2279cd2a242362" />
  <link type="application/atom+xml" rel="alternate" href="https://www.maryana.design/feed/portfolio/{{page.lang}}.xml"
    title="Maryana.Interior.Design">
  {% seo title=false %}
</head>

<body>
  <div class="container">
    <header class="bg-light">
      <div class="row p-2">
        <div class="col text-center text-md-start">
          <nav class="navbar navbar-expand navbar-light bg-light">
            <a href="{{ home_path }}">
              <img src="/assets/images/logo.png" width="250" height="81" alt="{{ t.menu.home }}">
            </a>
            <div class="px-3" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{{ home_path }}">{{ t.menu.portfolio }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"
                    href="{{ lang_data.slug | append: '/about' | relative_url }}">{{ t.menu.about }}</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
        <div class="col text-center text-md-end">
          <div>{{ t.tagline }}</div>
          <a href="https://wa.me/66805293353">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
          </a>
          <a href="tel:+66875558155">
            +6680 529 3353
          </a>
          <a href="mailto:mail@maryana.design">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            mail@maryana.design
          </a>
          <div>
            {% for l in site.languages %}
            {% assign disabled = "" %}
            {% if l.code == page.lang %}
            {{ l.name }}
            {% else %}
            {% assign url = l.slug | append: page.slug %}
            {% if url == "" %}
            {% assign url = "/" %}
            {% endif %}
            <a href="{{ url }}" class="{{ disabled }}">{{ l.name }}</a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </header>
    <main>
      {{ content }}
    </main>
    <footer class="text-center py-4 bg-light">
      <div class="row px-4">
        <div class="col-md-3">
          <a href="{{ home_path }}">
            <img src="/assets/images/logo.png" width="250" height="81" alt="Logo maryana.interior.design">
          </a>
          <div class="px-3 navbar navbar-expand justify-content-center">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ home_path }}">{{ t.menu.portfolio }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ lang_data.slug | append: '/about' | relative_url }}">{{ t.menu.about }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">{{ t.about }}</div>
        <div class="col-md-6">
          <!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
          <div id="mc_embed_signup">
            <form
              action="https://design.us6.list-manage.com/subscribe/post?u=d22f762034ad5e8e3d255689c&amp;id=64bb35c439"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
              target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">
                  <h4>{{ t.subscribe['title'] }}</h4>
                </label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                  required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_d22f762034ad5e8e3d255689c_64bb35c439" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="{{ t.subscribe['button'] }}" name="subscribe"
                    id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
          </div>
          <!--End mc_embed_signup-->
        </div>
      </div>
      <div class="pt-4">
        <div>
          <a href="tel:+66875558155">
            +6680 529 3353
          </a>
          <a href="mailto:mail@maryana.design">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            mail@maryana.design
          </a>
        </div>
        <div class="d-flex align-items-end justify-content-center">
          <a href="https://wa.me/66805293353">
            <i class="fa fa-whatsapp fa-2x px-2" aria-hidden="true"></i>
          </a>
          <span class="align-middle"><a href="#AddLineFriend" data-bs-toggle="modal">
              <img src="/assets/images/line.png" height="32" width="32" alt="">
            </a></span>
          <a href="mailto:mail@maryana.design">
            <i class="fa fa-envelope-o fa-2x px-2" aria-hidden="true"></i>
          </a>
          <a href="https://instagram.com/maryana.interior.design">
            <i class="fa fa-instagram fa-2x px-2" aria-hidden="true"></i>
          </a>
          <a href="https://web.facebook.com/maryana.interior.design">
            <i class="fa fa-facebook-official fa-2x px-2" aria-hidden="true"></i>
          </a>
          <a href="/feed/portfolio/{{page.lang}}.xml">
            <i class="fa fa-rss fa-2x px-2" aria-hidden="true"></i>
          </a>
        </div>
        <div class="pt-4">{{ t.address }}</div>
        <div>&copy; 2021 - {{ 'now' | date: "%Y" }}, www.maryana.design</div>
      </div>
      {% include modal_line.html %}
    </footer>
  </div>
</body>

</html>
