---
layout: default
---
{% assign t = site.data.I18n[page.lang] %}
<div class="row">
  <div class="col-md py-3">
    <img src="/assets/images/projects/{{page.number}}/00.jpg" class="img-fluid" width="636" height="848" alt="{{ t.photo_alt }} {{ page.description }}">
  </div>
  <div class="col d-flex align-items-center">
    <div class="p-md-5 ms-md-5">
    <h1>{{ page.title }}</h1>
    <p>{{ content }}</p>
    {% if page.loc %}
      <p>
        {{ t.location }}: {{ page.loc }}, <a href="{{ page.map }}" target="_blank">show on map</a>
      </p>
    {% endif %}
    </div>
  </div>
</div>

{% assign is = site.static_files | where: "project", page.number %}
<div class="row row-cols-1 row-cols-md-2">
{% for i in is %}
  {% if forloop.index == 1 %}
    {% continue %}
  {% else %}
  <div class="col">
    <img src="{{ i.path }}" class="img-fluid pb-3" width="636" alt="{{ t.photo_alt }} {{ page.description }} {{ forloop.index }}">
  </div>
  {% endif %}
{% endfor %}
</div>
